//.banner-principal-decorativo
//  &-1
//    animation: float1 3.5s ease-in-out infinite alternate
//    position: absolute
//    top: 40%
//    right: 50%
//  &-2
//    animation: float1 2.8s ease-in-out infinite alternate
//    position: absolute
//    top: 51%
//    right: 30%

@keyframes float1
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

.banner-principal__img
  width: 370px
  animation: float1 2.8s ease-in-out infinite alternate

.banner-interno__fondo
  background-image: url("../assets/curso/portada/img1.png") !important

.tarjeta.tarjeta--azul
  background-color: #30169A
  .acordion__titulo
    h3
      color: white !important
  .acordion__contenido
    p
      color: white !important
.tarjeta.tarjeta--azul.acordion__activo
  background-color: #EBEBFD
  .acordion__titulo
    h3
      color: $color-sistema-texto !important
  .acordion__contenido
    p
      color: $color-sistema-texto !important
.acordion__accion__btn--a
  background-color: #FCA651

.tarjeta.color-acento-botones
  background-color: #EBEBFD

.tabs-a__tab
  background-color: #95DBB3

.tabla-a th
  background-color: #30169A

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #FCA651

.tarjeta.tarjeta--azul1
  background-image: url(../assets/curso/tema2/img20.svg)
  background-repeat: no-repeat
  background-size: cover
  background-position: right

.bg
  &-c1
    background-color: #EBEBFD
  &-c2
    background-color: #787CF0
  &-c3
    background-color: #FFFFFF
    border-radius: 10px
  &-c4
    background-image: url(../assets/curso/tema1/img11.svg)
    background-repeat: no-repeat
    background-size: cover
    border-radius: 45px
    background-position: right
  &-c5
    background-color: #30169A
  &-c6
    background-color: #F1EBE0
    border-radius: 10px
  &-c7
    background-color: #30169A
    border-top-right-radius: 20px
    border-bottom-right-radius: 20px
    position: relative
    left: -34px
    z-index: 1
  &-c8
    background-color: #D0D1FA
    border-radius: 10px
  &-c9
    background-image: url(../assets/curso/tema2/img5.png)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
  &-c10
    background-color: #30169A
    border-radius: 10px
  &-c11
    background-color: #EFFAF4
  &-c12
    background-color: #FCA651
    border-radius: 20px
    transition: all 0.5s ease-out
  &-c12:hover
    background-color: #30169A
    ul
      li
        color: white
  &-c13
    background-image: url(../assets/curso/tema2/img10.png)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-position-y: 600px
  &-c14
    background-image: url(../assets/curso/tema2/img11.png)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-position: bottom

.txt
  &-c1
    color: #30169A
  &-c2
    padding-top: 4px
    padding-left: 4px
    padding-bottom: 4px
    background-color: #95DBB3